#envelope:hover{
    transform: translate(0, -5px);
    cursor: pointer;
}
#linkedin:hover{
    transform: translate(0, -5px);
    cursor: pointer;
}
#github:hover{
    transform: translate(0, -5px);
    cursor: pointer;
}

#envelope{
    color:white;
}
#linkedin{
    color:white;
}
#github{
    color:white;
}
