.icon:hover{
    transform: translate(0,-7px);
    cursor: pointer;
}
.textgrad{
    background: -webkit-linear-gradient(rgb(236, 192, 143), #f0a714);
    -webkit-background-clip : text ;
    -webkit-text-fill-color: transparent
}
