@media screen and (max-width : 480px){
   #info2{
    margin-bottom: 0;
    margin-top: -50px;
    gap: 20px;
   }
    #info2 div{
    padding:0px;
    margin-bottom: 0;
   }
   #img5{ 
    width : 200px;
    height: 150px;
    margin-left: 200px;
   }
   #txt1,#txt2{
    font-size: 15px;
    margin-top: 15px;
   }
   #head1{
    font-size: 35px;
   }
   #stk{
    width : 250%
   }
}