#navbar{
    position: sticky;
    top : 0px;
    z-index: 1;
}
@media screen and (max-width: 480px){
    #navbar{
        width: 620px;
        padding: 0.5px;
    }
    #hstack{
        margin-right: 5px;
    }
    #flex{
        padding: 5px
    }
    #head{
        font-size: 30px;
    }
}