.image{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.figure:hover .image{
    -webkit-transform: scale(1);
	transform: scale(1.03);
}

