@media screen and (max-width : 480px) {
    #b10,#b11,#b12,#b13,#b14,#b15,#b16,#b17,#b18,#b19,#b20 img{
        width: 80%;
    }
    #sg{
        margin-top: 50px;
        width: 80%;
    }
    #h5{
        font-size: 42px;
    }  
   
}